<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>
    body {
        background-color: #EEEEEE;
    }
</style>

<div class="container text-center">
    <div class="card">
        <div class="card-header">
            <h1 class="display-4">Password Generator</h1>
        </div>
        <form action="{% url 'password' %}">

            <select name='length'>

                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10' selected='selected'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
                <option value='13'>13</option>
            </select> Characters Long

            <br>

            <input type="checkbox" name="uppercase"> Uppercase
            <br>

            <input type="checkbox" name="special"> Special Characters
            <br>

            <input type="checkbox" name="number"> Number
            <br>

            <input type='submit' value='Generate Password' class="btn btn-primary">
        </form>

        <a href="about" class="btn btn-warning">ABOUT</a>

    </div>
</div>